.row{
    display: -webkit-box;
    display: flexbox;
    flex-wrap: wrap;
}

img{
    height:120px;
    width:350px;
} 

body{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #e06000;
}

.card{
  margin-top: 30px;
  margin-left: 30px;
  height:220px !important;
}

.card-body{
  background-color: #ee9600;
}

.card-text{
  padding: 5px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: azure;
  font-size: x-large;
}

#title{
  color: white;
}

.fa-rocket{
    font-size: xx-large;
}
