/* Import the 'Roboto' font with two weights (400 and 700) from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset box-sizing for all elements to 'border-box' for consistent sizing */
* {
  box-sizing: border-box;
}

/* Body styles */
body {
  background-image: url('https://images.gizbot.com/img/2023/06/isro-gaganyaan-1687584600.jpg');
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

/* Container styles for the main content area */
.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  width: 400px;
}

/* Heading styles */
h3 {
  margin: 0;
  letter-spacing: 2px;
  color: darkorange;
}

/* Spacecraft name styles */
.spacecraft {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
}

/* Button styles */
.btn {
  background-color:royalblue;
  color: #fff;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
}

/* Button styles when the button is clicked */
.btn:active {
  transform: scale(0.98);
}

/* Button styles when the button is focused  */
.btn:focus {
  outline: 0;
}

/* Media Query for Responsive Layout */
@media screen and (max-width: 600px) {

  body {
    padding: 10px;
  }

  .container {
    width: 90%;
  }

  .spacecraft {
    font-size: 24px;
  }
}
